.testimonial-grid {
  width: 80%;
  margin: 4rem auto;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;

  @include respond(phone) {
    width: 84%;
    margin: 2.8rem auto;
    gap: 2.8rem;

    grid-template-columns: 1fr;
  }
}
